  .pace {
    -webkit-pointer-events: none;
    pointer-events: none;

    -webkit-user-select: none;
    -moz-user-select: none;
    user-select: none;
  }

  .pace.pace-inactive .pace-progress {
    display: none;
  }

  .pace .pace-progress {
    position: absolute;
    z-index: 2000;
    margin: auto;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;

    height: 10rem;
    width: 10rem;

    -webkit-transform: translate3d(0, 0, 0) !important;
    -ms-transform: translate3d(0, 0, 0) !important;
    transform: translate3d(0, 0, 0) !important;
  }

  .pace .pace-progress:after {
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    content: attr(data-progress-text);
    font-family: "Courier New", Courier, "Lucida Sans Typewriter", "Lucida Typewriter", monospace;
    font-weight: 100;
    font-size: 3rem;
    line-height: 1;
    text-align: left;
    color: rgba(70, 187, 87, 0.19999999999999996);
  }